<% provide(:title, "帮助") %> 
<h1>帮助</h1>
<p>
    这里以后会出现帮助的~

</p>
<div class="center">
      <%= link_to image_tag("SomedayWill_QR_code.jpg", alt: "SomedayWill_QR_code"),'http://somedaywill.cn/'%>
</div>