<% provide(:title, "帮助") %> 
<h1>帮助</h1>
<p>
    首先，请先注册用户，选课宝会向你发送一封激活邮件，点击激活链接即可激活账户。
    

</p>
<div class="center">
      <%= link_to image_tag("SomedayWill_QR_code.jpg", alt: "SomedayWill_QR_code"),'http://somedaywill.cn/'%>
</div>