<footer class="footer"> 
  <small>
    Someday实验室荣誉出品
  </small>
  <nav> 
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "联系Someday", contact_path %></li>
    </ul> 
  </nav>
</footer>